#resultado_titulo{
    
    font-size: 3em;
    color: #fff;
}

#resultado{
    text-align: center;
    color: #fff;
}
#fundo{
    margin-top: 10em;
    padding: 2em;
    background-color: #362536;
    border-radius: 2em;
    height: 20em;
}